/* HOME PAGE */

/* ska mergas med style.css sen, men måste nog använda en class 
(för det som skiljer sig, tex. att det där är min-height 200vh) 
på bodyn på starsidan för att den inte ska krocka med denna sida 
(om de ska lyssna till samma css-fil) // jass */
body {
    height: 100vh;
    margin: 0;

    --styleFont: "Mulish";
}

.logo {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: #2C2E32;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: "Dancing Script";
    margin-top: 35px;
}

#homeBody {
    display: flex;
    flex-direction: row;
    height: 100%
}

#homeSearchBox, #homeCategoryBar, #homeBarTitle, #homeBarCategories, #homeCategoryBox, #homeCategoryIcon, #homeCategoryTitle, #homefeedBox, #homeFeedGrid, #homeFeedInfo, #homeFeedTitle, #homeFeedView  {
    border: 1px solid black;
}

#sideBar {
    background-color: white;
    width: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

#sideBar .icon {
    border-radius: 100px;
    background-color: rgb(235, 235, 235);
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#sideBar .icon:hover {
    cursor: pointer;
    background-color: rgba(199, 199, 199, 0.517);
}

#sideBarNav{
    margin-bottom: 35px;
}

#sideBarNav .active {
    background-color: #1B474A;
    box-shadow: 1px 3px 5px rgb(191, 191, 191);
}

#sideBarNav .active:hover {
    background-color: #1B474A;
}


/*detta borde göras i JS och lägga till "_white" i filvägen till bilden*/
#sideBarNav .active > div {
    background-image: url(../images/stockImages/icons/home_white.png);
}

.icon #home {
    background-image: url(../images/stockImages/icons/home.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.icon #countries {
    background-image: url(../images/stockImages/icons/globe.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.icon #profile {
    background-image: url(../images/stockImages/icons/user.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.icon #add {
    background-image: url(../images/stockImages/icons/plus.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.icon #saved {
    background-image: url(../images/stockImages/icons/bookmark.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.icon #logout {
    background-image: url(../images/stockImages/icons/log-out.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

#sideBarNav, #sideBarLogo {
}

#homeWrapper {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#homeInnerWrapper {
    background-color: rgb(45, 47, 49);
    border-radius: 15px 0 0 15px;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#homeSearchBox {
    display: flex;
    align-items: center;
    margin: .5vw;
}
#homeSearchField {
    width: 10vw;
    background-color: grey;
    border-radius: 15px;
    border: none;
    height: 1.5vw;
    cursor: text;
    color: white;
    font-size: .6rem;
}

.barCaterories, .categoryBar {
}

.categoryBar {
    margin: .5vw;
}

.barCategories {
    display: flex;
}

.barTitle {
    color: white;
    font-family: "Mulish";
}


.categoryBox {
    height: 7vw;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.categoryIcon {
    background-color: white;
    height: 70%;
    width: 70%;
    border: 3px solid rgba(255, 255, 255, 0.279);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: bottom;
}

.categoryIcon > div {
    height: 40%;
    width: 40%;
    background-size: cover;
}

.categoryTitle {
    font-size: 0.8vw;
    font-family: "Mulish";
    text-align: center;
    color: white;
}

.feedBox {
    overflow: scroll;
    overflow-x: hidden;
    background-color: grey;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedInfo {
    display: flex;
    color: white;
    margin: .5vw;
}

.feedGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}


/* samma som standard css, ska mergas sen och då kan detta 
tas bort då det är samma classer för båda sidor. // jass */
.polaroid {
    background-color: white;
    height: 22vw;
    width: 16.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 3px 5px rgb(191, 191, 191);
    margin: 1vw;
}

.polaroidPic {
    width: calc(100% - 4%);
    flex-basis: 84%;
    background-size: cover;
    background-position: center;
    margin: 2% 2% 0 2%;
}

.polaroidBottom {
    width: calc(100% - 16px);
    padding: 0 8px;
    flex-grow: 1;
}

.polaroidInfo {
    display: flex;
    font-size: var(--polaroidFontSize);
    height: 100%;
}

.polaroidUserPic {
    width: 2.5vw;
    height: 2.5vw;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 2px solid white;
}

.polaroidUser {
    display: flex;
    flex-direction: column;
    margin-top: -10%;
    flex-basis: 4vw;
    align-items: center;
}

.polaroidUserName {
    color: var(--lightTextColor);
    font-size: 0.65vw;
    margin-top: 1.5px;
    font-family: "Mulish";
}

.polaroidText {
    flex-direction: column;
    align-items: unset;
    padding: 2px 5px 5px 13px;
    font-family: var(--styleFont);
    font-size: 0.63vw;
    font-weight: 500;
}

.polaroidCountry {
    font-weight: 800;
    font-family: var(--styleFont);
    font-size: var(--polaroidTitleSize);
    margin-bottom: 2px;
}

/* PROFILE TOP */

#profileContainer {
    display: flex;
    color: white;
}
#profileBox{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    margin: 1.5vw;
}
#profileInfo {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    padding: .5vw;
}

#profileInfo > div {
    margin-bottom: .7vw;
}

#profileName {
    font-size: 1.4rem;
}

#profilePic {
    height: 8vw;
    width: 8vw;
    background-color: white;
    border-radius: 100px;
}

#profileBox, #profileFavs, #profileInterest {
    display: flex;
}

#profileInterest {
    justify-content: space-between;
}

#interestIcon, #topFavs {
}

#interestIcon {
    height: 20px;
    width: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/stockImages/icons/icon_envelope.png);
}

#profileFavs {
    margin: 25px 0 0 4vw;
    width: 200px;
    display: flex;
    justify-content: space-around;
}
#profileFavs > div > span {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.1rem;
}

#profileInfo, #profileName, #profileBio, #profileInterest, #profileFavs, #profileBox, #profilePic, #profileInfo, #profileContainer {
    border: 1px solid black;
}

#profileSettings {
    height: 25px;
    width: 25px;
    background-image: url(../images/stockImages/icons/icon_settings.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    margin: 2vw 0 0 85vw;
}
.hide{
    display: none;
}
.show{
    display: block;
}

#homeFeedTitle, .polaroidPic, #homeFeedView, #interestIcon, #profileSettings {
    cursor: pointer;
}

.feedTitle, .feedView {
    font-family: "Mulish";
}

.feedView {
    margin-left: 10px;
}

/* slider -> sidebar */
#slider {
    position: absolute;
    left: 2vw;
    width: 10vw;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    z-index: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

#slider > ul {
    margin-top: 4vw;
}
.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}