/* HOME PAGE */

/* ska mergas med style.css sen, men måste nog använda en class 
(för det som skiljer sig, tex. att det där är min-height 200vh) 
på bodyn på starsidan för att den inte ska krocka med denna sida 
(om de ska lyssna till samma css-fil) // jass */
body {
    height: 100vh;
    margin: 0;
}

.logo {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: #2C2E32;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: "Dancing Script";
}

#homeBody {
    display: flex;
    flex-direction: row;
    height: 100%
}

#homeSearchBox, #homeCategoryBar, #homeBarTitle, #homeBarCategories, #homeCategoryBox, #homeCategoryIcon, #homeCategoryTitle, #homefeedBox, #homeFeedGrid, #homeFeedInfo, #homeFeedTitle, #homeFeedView  {
    border: 1px solid black;
}

#sideBar {
    background-color: white;
    height: 100%;
    width: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#sideBar .icon {
    margin: 1vw 0 1vw 0;
    border-radius: 100px;
    background-color: rgb(235, 235, 235);
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sideBar .icon:hover {
    cursor: pointer;
    background-color: rgba(199, 199, 199, 0.517);
}

#sideBarNav .active {
    background-color: #1B474A;
    box-shadow: 1px 3px 5px rgb(191, 191, 191);
}

#sideBarNav .active:hover {
    background-color: #1B474A;
}


/*detta borde göras i JS och lägga till "_white" i filvägen till bilden*/
#sideBarNav .active > div {
    background-image: url(../images/stockImages/icons/home_white.png);
}

.icon #home {
    background-image: url(../images/stockImages/icons/home.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.icon #countries {
    background-image: url(../images/stockImages/icons/globe.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.icon #profile {
    background-image: url(../images/stockImages/icons/user.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.icon #add {
    background-image: url(../images/stockImages/icons/plus.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.icon #saved {
    background-image: url(../images/stockImages/icons/bookmark.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.icon #logout {
    background-image: url(../images/stockImages/icons/log-out.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

#sideBarNav, #sideBarLogo {
    margin: 3vw 0 3vw 0;
}

#homeWrapper {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: right;
}

#homeInnerWrapper {
    background-color: rgb(45, 47, 49);
    border-radius: 15px 0 0 15px;
    max-height: 100%;
    width: 100%;
    padding: 2vw;
    margin: 1vw 0 1vw 0;
}

#homeSearchBox {
    display: flex;
    align-items: center;
}
#homeSearchField {
    width: 10vw;
    background-color: grey;
    border-radius: 5px;
    border: none;
    height: 1.5vw;
    cursor: text;
    color: white;
    font-size: .6rem;
}

.barCaterories, .categoryBar {
    margin: .5vw 0 .5vw 0;
}

.barCategories {
    display: flex;
}

.barTitle {
    color: beige;
}


.categoryBox {
    height: 6vw;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.categoryIcon {
    background-color: beige;
    height: 80%;
    width: 80%;
    border: 3px solid rgba(50, 50, 50, 0.735);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: bottom;
}

.categoryIcon > div {
    height: 40%;
    width: 40%;
    background-size: cover;
}

.categoryTitle {
    font-size: 0.8vw;
    text-align: center;
    color: beige;
}

.feedBox {
    height: 69vh;
    overflow: scroll;
    overflow-x: hidden;
    background-color: grey;
    border-radius: 15px 15px 0 0;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedInfo {
    display: flex;
    color: beige;
}

.feedGrid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1vw;
}


/* samma som standard css, ska mergas sen och då kan detta 
tas bort då det är samma classer för båda sidor. // jass */
.polaroid {
    background-color: white;
    height: 22vw;
    width: 16.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 3px 5px rgb(191, 191, 191);
    margin-bottom: 30px;
}

.polaroidPic {
    width: calc(100% - 4%);
    flex-basis: 84%;
    background-size: cover;
    background-position: center;
    margin: 2% 2% 0 2%;
}

.polaroidBottom {
    width: calc(100% - 16px);
    padding: 0 8px;
    flex-grow: 1;
}

.polaroidInfo {
    display: flex;
    font-size: var(--polaroidFontSize);
    height: 100%;
}

.polaroidUserPic {
    width: 2.5vw;
    height: 2.5vw;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 2px solid white;
}

.polaroidUser {
    display: flex;
    flex-direction: column;
    margin-top: -10%;
    flex-basis: 4vw;
    align-items: center;
}

.polaroidUserName {
    color: var(--lightTextColor);
    font-size: 0.65vw;
    margin-top: 1.5px;
}

.polaroidText {
    flex-direction: column;
    align-items: unset;
    padding: 2px 5px 5px 13px;
    font-family: var(--styleFont);
    font-size: 0.63vw;
    font-weight: 500;
}

.polaroidCountry {
    font-weight: 800;
    font-family: var(--styleFont);
    font-size: var(--polaroidTitleSize);
    margin-bottom: 2px;
}

/* PROFILE TOP */

#profileContainer {
    margin-top: .5vw;
    padding: 1vw 2vw;
    display: flex;
    color: white;
}
#profileBox{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}
#profileInfo {
    padding: .5vw;
    display: flex;
    flex-direction: column;
    max-width: 20vw;
}

#profileInfo > div {
    margin-bottom: .5vw;
}

#profileName {
    font-size: 1.4rem;
}

#profilePic {
    height: 8vw;
    width: 8vw;
    background-color: beige;
    border-radius: 100px;
}

#profileBox, #profileFavs, #profileInterest {
    display: flex;
}

#profileInterest {
    justify-content: space-between;
}

#interestIcon, #topFavs {
    margin-right: 1vw;
}

#interestIcon {
    height: 1vw;
    width: 1.5vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/stockImages/icons/icon_envelope.png);
}

#profileFavs {
    margin-left: 3vw;
}
#profileFavs > div > span {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: .55vw;
}

#profileInfo, #profileName, #profileBio, #profileInterest, #profileFavs, #profileBox, #profilePic, #profileInfo, #profileContainer {
    border: 1px solid black;
}

#profileSettings {
    margin-left: 38vw;
    height: 1.5vw;
    width: 1.5vw;
    background-image: url(../images/stockImages/icons/icon_settings.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.hide{
    display: none;
}
.show{
    display: block;
}
