:root {
    /*FÄRGER*/
    --darkgrey: #2C2E32; /*wrappens bakgrundfärg när man är inloggad*/
    --blue: #1B474A; /*sidans signaturfärg, används i tex knappar, i navBar för markera*/
    --lighterBlue: #3A5A5D; /*för text i login/join ruta, text ovanför inputfält*/
    --darkTextColor: #414141; /*standard för texter*/
    --lightTextColor: #4c4c4c; /*ljusare text, tex i nav*/
    --orange: #7B461D; /*knappar och borders*/
    --lightGrey: #e2e2e2; /*ikoner i nave i sideBar*/
    --beige: #E1CFB6; /*För cirkel-ikoner*/
    --greyBackground: #8C8B92; /*Backgrund för feedGrid samt vald travelCategory/Album*/

    /*FONTER*/
    --styleFont: "Mulish"; /*lite tjockare text, passar bra vid titlar, finns i weight: 300;400;500;600;700;800;900*/
    --standardFont: "Source Sans Pro"; /*för bröd text, finns i weight: 300;400;600;700*/
    --polaroidFontSize: 0.7vw;
    --polaroidTitleSize: 0.7vw;
}

/*GENERELLT*/
* {
    margin: 0;
}

body {
    min-height: 200vh;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.9;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

footer {
    height: 35px;
    background-color: var(--darkgrey);
    margin-top: 40px;
}

/*STARTSIDA LOGIN/JOIN*/
#startWrapper {
    position: relative;
    font-family: var(--standardFont);
    color: var(--darkTextColor);
    min-height: 100vh;
    width: 100%;
}

#bgStart {
    background-image: url(../images/stockImages/pexels-zakaria-boumliha-2827374.jpg);
    background-size: cover;
    background-position: top;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

#bgDark {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(22, 18, 16);
    opacity: 0;
    z-index: 100;
    animation: bgDark 0.5s forwards;
}

@keyframes bgDark {
    from {opacity: 0;}
   to { opacity: 0.5;}
 }

 .startNav {
     padding: 20px;
     justify-content: space-between;
 }

 .startNav a {
     color: var(--lightTextColor);
     font-family: var(--standardFont);
     font-weight: 600;
     font-size: 1em;
     margin-right: 20px;
 }

 #navLoginBtn {
     background-color: var(--blue);
     border: 0;
     padding: 8px 15px;
     border-radius: 30px;
     color: white;
     font-size: 0.85em;
     font-weight: 700;
     font-family: var(--styleFont);
     box-shadow: 1px 3px 10px rgb(213, 213, 213);
 }

 #logo {
     height: 50px;
     width: 50px;
     border-radius: 100%;
     background-color: var(--darkTextColor);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2em;
 }

 .startTitle h1 {
     font-size: 2vw;
    font-family: var(--styleFont);
    font-weight: 600;
}

.startTitle span {
    color: var(--blue);
    font-weight: 800;
}

#startModalWrapper {
    display: none;
    position: fixed;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginModal {
    display: none;
    background-color: white;
    border-radius: 5px;
    width: 25vw;
    height: 35vw;
    box-shadow: 1px 3px 20px rgba(10, 10, 10, 0.333);
}

#close {
    display: none;
    color: white;
    font-size: 1.2vw;
    font-weight: 700;
    margin-left: 24vw;
    font-family: var(--styleFont);
}

#close:hover {
    cursor: pointer;
}

#startGrid {
    margin: 50px auto 0;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.polaroid {
    background-color: white;
    height: 22vw;
    width: 16.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 3px 5px rgb(191, 191, 191);
    margin-bottom: 30px;
}

.polaroid1, .polaroid3, .polaroid5, .polaroid6, .polaroid8, .polaroid10, .polaroid11, .polaroid13, .polaroid15 {
    margin-top: 40px;
}

.polaroidPic {
    width: calc(100% - 4%);
    flex-basis: 84%;
    background-size: cover;
    background-position: center;
    margin: 2% 2% 0 2%;
}

.polaroidBottom {
    width: calc(100% - 16px);
    padding: 0 8px;
    flex-grow: 1;
}

.polaroidInfo {
    display: flex;
    font-size: var(--polaroidFontSize);
    height: 100%;
}

.polaroidUserPic {
    width: 2.5vw;
    height: 2.5vw;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 2px solid white;
}

.polaroidUser {
    display: flex;
    flex-direction: column;
    margin-top: -10%;
    flex-basis: 4vw;
    align-items: center;
}

.polaroidUserName {
    color: var(--lightTextColor);
    font-size: 0.65vw;
    margin-top: 1.5px;
}

.polaroidText {
    flex-direction: column;
    align-items: unset;
    padding: 2px 5px 5px 13px;
    font-family: var(--styleFont);
    font-size: 0.63vw;
    font-weight: 500;
}

.polaroidCountry {
    font-weight: 800;
    font-family: var(--styleFont);
    font-size: var(--polaroidTitleSize);
    margin-bottom: 2px;
}

.filter {
    width: 16.5vw;
    height: 22vw;
    background-color: white;
    position: absolute;
    opacity: 0.3;
}

.filter3, .filter5, .filter6, .filter14 {
    opacity: 0;
}